table {
  width: 100%;

}

.mat-column-demo-id {
  width: 45px;
  border-right: 1px solid currentColor;
  padding-right: 10px;
  text-align: left;
  color: black;
}

.mat-column-demo-first {
  padding-left: 5px;
  text-align: left;
  font-size: 18px;
  color: black;
}

.mat-column-demo-last {
  padding-left: 5px;
  text-align: center;
  font-style: italic;
  color: black;
  border-right: 1px solid currentColor;
}


.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color:  rgb(228, 228, 228);
}

.mat-header-row:nth-child(odd){
  background-color: rgb(255, 255, 255);
}

.mat-header-cell:nth-child(odd){
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.mat-header-cell:nth-child(even){
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}
